body{
line-height: 90%;
text-align: center;
background-color:powderblue;
}


* {
text-align: center;
}

nav {
    background-color: #3B7DA2; 
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

li:hover, li:focus-within {
    color:deeppink;
    cursor: pointer;

}


#main-menu {
    display: flex;
    gap: 50px;
    text-align: center;
}

#main-menu li {
    list-style: none;
    text-align: center;
}

.logo {
    color: white;
    font-size: 32px;
    font-family: sans-serif;
    text-align: center;
    line-height: 200%;
}

#main-menu button, #main-menu a {
    background-color: transparent;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
 line-height: 100%;
}

#main-menu .dropdown {
    background-color: #77AFCE;
    color: #145071;
    margin: 0px;
    margin-left: -38px;
    padding: 20px;
    position: absolute;
    display: none;
    text-align: center;
}

#main-menu .dropdown a {
    color: rgb(255, 255, 255);
    text-align: center;
}

#main-menu .sub-menu:hover .dropdown {
    display: block;

}

h2 {
    line-height: 100%;
text-align: justify;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  #submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  #submit:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
